/node_modules
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/public/hot
/public/fonts
/public/storage
/public/css
/public/js
/public/img
/public/libs
/storage/*.key

/nbproject

.env.local
.env.test
.env.staging
.env.production

composer.phar

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.DS_Store

